<section class="py-24">
  <div class="container">
    <div class="prose max-w-none">
      {{ data.description | raw }}
    </div>
    <ul class="flex flex-wrap items-stretch py-8">
      {% for item in data.items %}
      <li class="basis-full md:basis-1/2 lg:basis-1/3 flex-grow p-4">
        <div class="flex bg-white rounded-md shadow-md shadow-gray-500 h-full">
          <span class="flex-shrink-0 h-max font-nunito font-semibold text-lg text-white text-center bg-clr-cta p-2 rounded-tl-md rounded-br-md">
            {{ loop.index }}
          </span>
          <div class="flex-grow prose max-w-none prose-headings:text-xl prose-headings:uppercase prose-p:text-clr-text prose-p:text-base pt-4 pb-4 pl-4 pr-2">
            {{ item.description | raw }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>