<footer class="py-12 bg-gray-800">
  <div class="container flex -mx-4">
    <div class="basis-1/2 px-4">
      <div class="text-2xl text-clr-cta font-nunito font-bold uppercase mb-6">
        <a href="/">
          Интголос
        </a>
      </div>
      <div class="prose prose-p:text-white">
          <p>ООО "ИНТГОЛОС" ОГРН 1227700055373 ИНН 7720860926</p>
          <p>Р/с 40702810038000291163 в ПАО «Сбербанк»</p>
          <p>БИК 044525225</p>
          <p>К/с 30101810400000000225</p>
      </div>
    </div>
    <div class="basis-1/2 flex flex-col justify-between px-4">
      <div class="flex flex-col items-end -mx-4">
        <span class="block text-2xl text-clr-cta font-nunito font-bold uppercase px-4 mb-6">Навигация</span>
        {% component 'footerMenu' %}
      </div>
      <div class="prose max-w-none prose-p:text-white prose-a:text-white text-end">
        <hr>
        <p>© Все права защищены</p>
        <a href="mailto:info@intgolos.ru">info@intgolos.ru</a>
      </div>
    </div>
  </div>
</footer>