<footer class="container bg-fore-ground pt-37.5 pb-15">
 <div class="flex flex-col sm:flex-row">
  <div class="w-full sm:w-1/4">

  </div>
  <div class="w-full sm:w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <div class="sm:pr-10">
      <div class="font-sans font-extrabold text-base text-dark leading-5.5 mb-4.5">
        Services
      </div>
      <ul>
        <li class="font-sans font-normal text-base text-secondary-dark leading-5.5 mb-5">
          <a href="#">Website Development</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="font-sans font-extrabold text-base text-dark leading-5.5 mb-4.5">
        Why Us?
      </div>
      <ul>
        <li class="font-sans font-normal text-base text-secondary-dark leading-5.5 mb-5">
          <a href="#">Website Development</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="font-sans font-extrabold text-base text-dark leading-5.5 mb-4.5">
        Blog
      </div>
      <ul>
        <li class="font-sans font-normal text-base text-secondary-dark leading-5.5 mb-5">
          <a href="#">Website Development</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="font-sans font-extrabold text-base text-dark leading-5.5 mb-4.5">
        Contact Us 
      </div>
      <ul>
        <li class="font-sans font-normal text-base text-secondary-dark leading-5.5 mb-5">
          <a href="#">Website Development</a>
        </li>
      </ul>
    </div>
  </div>
 </div>
</footer>