<header class="sticky top-0 bg-white py-2 z-50 rounded-b-md shadow-md shadow-gray-300">
  <div class="container flex items-center justify-between">
    <div class="text-2xl text-clr-cta font-nunito font-bold uppercase mr-8">
      <a href="/">
        Интголос
      </a>
    </div>
    <nav>
      {% component 'generalMenu' %}
    </nav>
    <div class="flex items-center">
      <a 
        href="https://vk.com/intgolos"
        class="text-white text-base font-nunito font-bold bg-clr-cta rounded-md mx-4"
      >
        {% partial 'common/icon' class="w-10 h-10 rounded-full text-clr-cta bg-white stroke-0 border-2 border-white" icon="vk" %}
      </a
      >
      <a 
        href="https://intgolos.ru/pay"
        class="btn"
      >
        Участвовать
      </a>
    </div>
  </div>
</header>