==
<?php
function onStart() {
  $description = '
    <h2>Подключайтесь к ИНТГОЛОС</h2>
    <p>География, возраст, пол и навыки не важны</p>
    <br>
    <a href="#" class="btn btn--flare before:animate-flare">Принять участие</a>
  ';

  $this->page['description'] = $description;
}
?>
==

<section class="flex items-center justify-center bg-offer bg-center bg-no-repeat bg-cover bg-fixed min-h-150 h-full">
  <div class="container my-11">
    <div class="prose max-w-none text-center prose-headings:text-white prose-p:text-white prose-a:text-white">
      {{ data.description | raw }}
    </div>
  </div>
</section>