@import './!common/_';

@tailwind base;

@layer base {
  :root {
    --padding-x: 1rem;
    --clrHeader: 255 255 255;
    --clrBody: 255 255 255;
    --clrFooter: 63 63 70;
    --clrHeading: 15 117 246;
    --clrText: 75 85 99;
    --clrLink: 54 53 48;
    --clrCta: 15 117 246;
    --clrSelection: 15 117 246;
    --clrHover: 15 117 246;
    --clrOverlay: 4 8 20;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  select[multiple],
  textarea {
    // @apply placeholder:text-stone border-none font-sans text-sm text-secondary-dark leading-5 tracking-wide focus:ring-2 focus:ring-offset-0 focus:ring-active
  }
}

@tailwind components;

@layer components {
  @import './carousel/_';

  @import './scrollbar/_';

  .line {
    @apply block w-1/5 h-[1px] bg-white;  
  }

  .carousel {
    &-reports {
      --carouselSlidesCount:1;
      --carouselSlidesGap:0;
      @media(min-width: 1280px) {
        --carouselSlidesCount:2;
        --carouselSlidesGap:40px;
      }
    }
  }

  // .menu {
  //   @apply 
  //     max-w-[50px] max-h-[50px] w-screen h-screen bg-light rounded-bl-25 ml-auto mr-0 transition-all duration-300 ease-linear
  //     lg:max-w-full lg:max-h-full lg:h-auto lg:bg-transparent lg:mt-16
  // }

  @import './menu-toggle/_';

  @import './dropdown/_';
}

@tailwind utilities;