@import './!common/_';

@tailwind base;

@layer base {
  :root {
    --padding-x: 1rem;
    --clrHeader: 255 255 255;
    --clrBody: 255 255 255;
    --clrFooter: 63 63 70;
    --clrHeading: 15 117 246;
    --clrText: 75 85 99;
    --clrLink: 54 53 48;
    --clrCta: 15 117 246;
    --clrSelection: 15 117 246;
    --clrHover: 15 117 246;
    --clrOverlay: 4 8 20;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  select[multiple],
  textarea {
    @apply placeholder-shown:autofill:shadow-autofill #{!important};
  }
}

@tailwind components;

@layer components {
  @import './carousel/_';

  @import './scrollbar/_';

  .line {
    @apply block w-1/5 h-[1px] bg-white;  
  }

  .carousel {
    &-reports {
      --carouselSlidesCount:1;
      --carouselSlidesGap:0;
      @media(min-width: 1280px) {
        --carouselSlidesCount:2;
        --carouselSlidesGap:40px;
      }
    }
  }

  .form {
    &-group {
      @apply relative w-full mb-6 z-0;
    }

    &-control {
      @apply 
        block w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-500 appearance-none placeholder-transparent py-2.5 px-0;
        &:focus {
          @apply outline-none ring-0 border-clr-cta;
        }
        // &:-webkit-autofill {
        //   -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
        //   -webkit-text-fill-color: #999 !important; /* цвет текста */
        //   color: #999 !important; /* цвет текста */
        // }
    }

    &-label {
      @apply 
        absolute top-3 text-sm text-gray-500 transform duration-300 -translate-y-6 scale-75 -z-10 origin-[0] 
      ;

      .form-control:placeholder-shown ~ & {
        @apply scale-100 translate-y-0;
      }

      .form-control:focus ~ & {
        @apply font-medium left-0 text-clr-cta scale-75 -translate-y-6;        
      }
    }
  }

  @import './menu-toggle/_';

  @import './dropdown/_';
}

@tailwind utilities;