==
<?php
function onStart() {
  $items = [
    0 => [
      'description' => '<h4>Отчетный <br>концерт</h4><hr><p>15 победителей выступят на сцене и разделят призовой фонд</p>',
    ],
    1 => [
      'description' => '<h4>3 СЕРТИФИКАТА <br>В МЕСЯЦ</h4><hr><p>Профессиональная запись песни в студии вашего города</p>',
    ],
    2 => [
      'description' => '<h4>ПРИЗОВОЙ <br>ФОНД</h4><hr><p>250 000 + рублей</p>',
    ],
    3 => [
      'description' => '<h4>1 000 000 + <br>ЗРИТЕЛЕЙ</h4><hr><p>Суммарный охват зрителей конкурса</p>',
    ],
  ];

  $this->page['items'] = $items;
}
?>
==
<section class="relative min-h-screen flex items-center before:absolute before:inset-0 before:bg-clr-overlay/60 before:z-20">
  <picture>
    <img class="absolute inset-0 w-full h-full object-cover" src="{{ data.image ? data.image | media : 'assets/img/intro.webp' | theme }}" alt="">
  </picture>
  <div class="relative container flex flex-wrap z-40">
    <div class="basis-full prose mx-auto prose-p:text-white prose-p:text-lg prose-p:font-light prose-strong:text-white text-center py-11 xl:pr-20">
      {{ data.description | raw }}
      {#
      <p><strong>Онлайн-конкурс песни</strong></p>
      <h1>
        ИНТГОЛОС
      </h1>
      <p>
        Вы поете для себя и близких людей,</br>
        но хотели бы петь и для большой аудитории?</br></br>
        Подключайтесь к "INTGOLOS" и ваше творчество увидят и улышат. По итогам полугодия (отсчет с 1 июля 2022г.), но за один лучший месяц, будут определены три победителя в каждой возрастной группе. Среди "Золотой пятнашки" будет распределен главный денежный приз.
      </p>
      #}
    </div>
    <div class="basis-full flex flex-wrap items-stretch py-11">
      {% for item in data.items %}
      <div class="basis-full xs:basis-1/2 lg:basis-1/4">
        <div class="h-full p-4">
          <div class="prose prose-headings:text-clr-cta prose-headings:uppercase max-w-none prose-p:text-white text-center mt-2 mb-4">
            {{ item.description | raw }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>