{% for block in components %}

  {% if block._group == "intro" %}
    {% partial "components/intro" data=block %}
  {% endif %}

  {% if block._group == "about_us" %}
    {% partial "components/about_us" data=block %}
  {% endif %}

  {% if block._group == "steps" %}
    {% partial "components/steps" data=block %}
  {% endif %}

  {% if block._group == "offer" %}
    {% partial "components/offer" data=block %}
  {% endif %}

  {% if block._group == "voting" %}
    {% partial "components/voting" data=block %}
  {% endif %}

  {% if block._group == "information" %}
    {% partial "components/information" data=block %}
  {% endif %}

  {% if block._group == "counter" %}
    {% partial "components/counter" data=block %}
  {% endif %}


  {% if block._group == "our_services" %}
    {% partial "components/our_services" data=block %}
  {% endif %}

  {% if block._group == "testimonials" %}
    {% partial "components/testimonials" data=block %}
  {% endif %}

  {% if block._group == "stack" %}
    {% partial "components/pricing" data=block %}
  {% endif %}


  
  {% if block._group == "editor" %}
    {% partial "components/editor" data=block %}
  {% endif %}

{% endfor %}