==
<?php
function onStart() {
  $description = '
    <h3>Розыгрыш июля</h3>
    <p>3 сертификата на профессиональную запись песни в студии вашего города</p>
  ';

  $this->page['description'] = $description;
  
  $winners = '
    <p>Победители июля: Виктория Комарова, Нифонтов Александр, DarkDream</p>
  ';

  $this->page['winners'] = $winners;
  $this->page['date'] = '2022, 08, 30';
}
?>
==
<section class="relative flex items-center justify-center bg-counter bg-center bg-no-repeat bg-cover bg-fixed min-h-offer h-full before:absolute before:inset-0 before:bg-clr-overlay/60 before:z-20">
  <div class="container flex flex-wrap items-stretch justify-center my-11 z-30">
    {%  for item in range(1, 2) %}
    <div class="basis-1/2 p-4">
      <div class="flex-grow text-center bg-white rounded-md border-2 border-dashed border-clr-cta p-4">
        <div class="prose">
          {{ this.page.description | raw }}
        </div>
        <div 
          class="flex items-center justify-center mt-6" 
          x-data="timer(new Date().setDate(new Date({{ this.page.date }}).getDate()))"
        >
          <div class="flex flex-col border-r border-clr-cta">
            <span class="font-nunito font-semibold text-clr-text text-4xl sm:text-6xl mx-4" x-text="time().days"></span>
            <span class="font-nunito font-light text-sm text-clr-text">Дней</span>
          </div>
          <div class="flex flex-col border-r border-clr-cta">
            <span class="font-nunito font-semibold text-clr-text text-4xl sm:text-6xl mx-4" x-text="time().hours"></span>
            <span class="font-nunito font-light text-sm text-clr-text">Часов</span>
          </div>
          <div class="flex flex-col border-r border-clr-cta">
            <span class="font-nunito font-semibold text-clr-text text-4xl sm:text-6xl mx-4" x-text="time().minutes"></span>
            <span class="font-nunito font-light text-sm text-clr-text">Минут</span>
          </div>
          <div class="flex flex-col">
            <span class="font-nunito font-semibold text-clr-text text-4xl sm:text-6xl mx-4" x-text="time().seconds"></span>
            <span class="font-nunito font-light text-sm text-clr-text">Секунд</span>
          </div>
        </div>
        <div class="font-nunito font-light text-xs text-clr-text mt-4">
          {{ this.page.winners | raw }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>