==
<?php
function onStart() {
  $description = '
    <h2>Информация для лидеров этапов</h2>
    <p>Рекомендации по участию в конкурсе</p>
  ';

  $this->page['description'] = $description;

  $items = [
    1 => [
      'description' => '
        <h4>ПОДГОТОВЬТЕ СВОЕ ПРОИЗВЕДЕНИЕ ДЛЯ ЗАПИСИ</h4>
        <p>В студии вы должны знать произведение наизусть. Отрепетируйте его. Во время записи вы должны уметь исполнить произведение четко и с выражением. На запись произведения будет выделено два часа студийной работы</p>
      ',
    ],
    2 => [
      'description' => '<h4>ПРОВЕРЬТЕ ВЕРНО ЛИ ВЫ УКАЗАЛИ СВОИ КОНТАКТЫ</h4><p>Проверьте свою анкету. Если вы не указали свой номер телефона, то отправьте его на почту проекта internetgolos@yandex.ru . В примечании укажите ссылку на вашу персональную страничку участника</p>',
    ],
    3 => [
      'description' => '<h4>РАБОТАЙТЕ НАД СВОЕЙ ПОБЕДОЙ</h4><p>Выбиться в лидеры можно даже в течении одного дня. Опубликуйте ссылку на свою персональную страничку участника в социальных сетях, попросите подписчиков, друзей и знакомых проголосовать за вас</p>',
    ],
  ];

  $this->page['items'] = $items;
}
?>
==
<section class="py-24">
  <div class="container">
    <div class="prose max-w-none">
      {{ this.page.description | raw }}
    </div>
    <ul class="flex flex-wrap items-stretch py-8">
      {% for item in this.page.items %}
      <li class="basis-full md:basis-1/2 lg:basis-1/3 flex-grow p-4">
        <div class="flex bg-white rounded-md shadow-md shadow-gray-500 h-full">
          <span class="flex-shrink-0 h-max font-nunito font-semibold text-lg text-white text-center bg-clr-cta p-2 rounded-tl-md rounded-br-md">{{ loop.index }}</span>
          <div class="flex-grow prose max-w-none prose-headings:text-xl prose-headings:uppercase prose-p:text-clr-text prose-p:text-base pt-4 pb-4 pl-4 pr-2">
            {{ item.description | raw }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>