<section class="py-24">
  <div class="container">
    <div class="text-sky text-5xl font-sans font-semibold mb-8">
      <span class="relative text-white bg-sky rounded-md py-1 px-2">3</span> шага для участия
    </div>
    <ul class="relative grid grid-cols-3 py-8 before:absolute before:w-full before:h-2 before:bg-sky before:top-1/2 before:-translate-y-1/2 before:z-10">
      <li class="p-4 z-20">
        <div class="flex items-center w-full h-full rounded-md border-2 border-dashed border-sky p-4 bg-white">
          <div class="rounded-full bg-white border-2 border-sky p-3 mr-4">
            {% partial 'common/icon' class="w-14 h-14 fill-white stroke-sky" icon="cam" %}
          </div>
          <div>
            <div class="text-2xl text-sky font-sans font-medium uppercase mb-2">
              Снимите ваше певческое творчество
            </div>
            <div class="text-lg text-black font-sans font-light">
              К участию принимаются короткие видео ролики, снятые любыми средствами видеосъемки
            </div>
          </div>
        </div>
      </li>
      <li class="p-4 z-20">
        <div class="flex items-center w-full h-full rounded-md border-2 border-dashed border-sky p-4 bg-white">
          <div class="rounded-full bg-white border-2 border-sky p-3 mr-4">
            {% partial 'common/icon' class="w-14 h-14 fill-white stroke-sky" icon="money" %}
          </div>
          <div>
            <div class="text-2xl text-sky font-sans font-medium uppercase mb-2">
              Внесите вступительные средства(300 ₽)
            </div>
            <div class="text-lg text-black font-sans font-light">
              Внесенные средства участвуют в формировании призового фонда и рекламного бюджета для продвижения ваших творческих продуктов
            </div>
          </div>
        </div>
      </li>
      <li class="p-4 z-20">
        <div class="flex items-center w-full h-full rounded-md border-2 border-dashed border-sky p-4 bg-white">
          <div class="rounded-full bg-white border-2 border-sky p-3 mr-4">
            {% partial 'common/icon' class="w-14 h-14 fill-white stroke-sky" icon="download" %}
          </div>
          <div>
            <div class="text-2xl text-sky font-sans font-medium uppercase mb-2">
              Загрузите видео на платформу
            </div>
            <div class="text-lg text-black font-sans font-light">
              После оплаты вам станет доступна форма, в которой потребуется добавить видео и другую, необходимую для конкурса, информацию
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>