==
<?php
function onStart() {
  $description = '
    <h3>Подписывайтесь на нашу страничку Вконтакте!</h3>
    <p>Получайте оперативную поддержку в сообщениях сообщества, задавайте вопросы и следите за жизнью проекта на удобной площадке. </p>
    <a href="https://vk.com/intgolos" class="btn btn--flare before:animate-flare">Подписаться</a>
  ';

  $this->page['description'] = $description;
}
?>
==
<section class="py-12">
  <div class="container flex flex-wrap items-center -mx-4">
    <div class="basis-full lg:basis-1/2 prose max-w-none px-4 mb-12 lg:mb-0">
      {{ this.page.description | raw }}
    </div>
    <div class="basis-full lg:basis-1/2 px-4">
      <picture>
        <img src="{{ 'assets/img/subscribe.webp' | theme }}" alt="" class="w-full h-auto max-w-full">
      </picture>
    </div>
  </div>
</section>