<section 
  class="container"
  data-aos="fade-up"
  data-aos-offset="500"
  data-aos-duration="500"
>
  <div class="">
    <div class="flex justify-between">
      <div 
        class="font-extrabold text-3xl text-dark leading-11 tracking-widest mt-5"
        data-aos="fade-right"
        data-aos-offset="500"
        data-aos-duration="500"
      >
        What They Said?
      </div>
      <div 
        class="flex items-center justify-end"
        data-aos="fade-left"
        data-aos-offset="500"
        data-aos-duration="500"
      >
        <button type="button" class="btn bg-white text-active p-3 mr-1 hover:bg-active hover:text-white transition-colors duration-700 carousel-slide-prev">
          {% partial 'common/icon' class="fill-transparent stroke-current stroke-2 w-6 h-6 -rotate-90" icon="chevron" %}
        </button>
        <button type="button" class="btn bg-white text-active p-3 ml-1 hover:bg-active hover:text-white transition-colors duration-700 carousel-slide-next">
          {% partial 'common/icon' class="fill-transparent stroke-current stroke-2 w-6 h-6 rotate-90" icon="chevron" %}
        </button>
      </div>
    </div>
    <div class="carousel-testimonials carousel js-carousel scrollbar w-full py-21.25">
      <ul 
        class="carousel__wrapper js-carousel-wrapper"
        data-aos="fade-down"
        data-aos-offset="500"
        data-aos-duration="500"
      >  
        {% for i in range(1, 3) %}
        <li class="carousel__slide js-carousel-slide">
          
          <div class="group bg-white bg-opacity-10 box-content overflow-hidden transition-color duration-700 hover:bg-opacity-100">
            <div class="flex flex-col h-full p-9">
              <div class="flex items-center">
                <div class="w-12 h-12 rounded-full overflow-hidden mr-5">
                  <img class="object-cover w-full h-full" src="{{ 'assets/img/avatar.png' | theme }}" alt="">
                </div>
                <div class="flex flex-col">
                  <div class="font-sans font-extrabold text-xl text-accent leading-8 tracking-widest">
                    Wildan Wari
                  </div>
                  <div class="font-sans font-normal text-xs text-secondary-dark leading-6.5 tracking-widest">
                    CEO @Greatcode
                  </div>
                </div>
              </div>
              <div class="font-sans font-normal text-base text-secondary-dark leading-6.5 tracking-widest before:line before:bg-stone before:mt-7 before:mb-5">
                Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Massa ele mentum eu praesent a sit mi nisl tincidunt consequat.
              </div>
            </div>
          </div>

        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>