==
<?php
function onStart() {
  $description = '
  <h2>Голосование</h2>
  <p>Поиск по возрасту производится путем выбора соответствующей группы.
    Кнопка "Все" сбрасывает возраст и показывает всех участников.</p>
  <p>Поиск по названию произведения, имени и региону осуществляется в поле "поиск".
    Для удобства, вы можете использовать как оба инструмента сразу, так и по отдельности.</p>
  <p>Посмотреть и выставить оценку может любой посетитель сайта</p>';

  $this->page['description'] = $description;

  $filters = array('Все','Лидеры месяца','Лидеры полугодия','7-14 лет','15-18 лет','19-30 лет','31-50 лет','51-100 лет');

  $this->page['filters'] = $filters;
}
?>
==
<section class="py-24">
  <div class="container">
    <div class="prose max-w-none">
      {{ this.page.description | raw }}
    </div>
    <div class="flex flex-wrap justify-between items-baseline py-8">
      <form class="flex flex-wrap items-ceter">
        {% for item in this.page.filters %}
          <div class="relative">
            <label 
              for="filter-{{ loop.index }}"
              class="block font-nunito font-semibold text-base text-clr-cta uppercase border border-clr-cta rounded-md py-1 px-3 mt-4 mr-4 hover:bg-clr-cta hover:text-white transition-colors duration-150 ease-in peer-checked:bg-clr-cta peer-checked:text-clr-cta"
            >
              {{ item }}
            </label>
            <input type="radio" name="filter[category]" id="filter-{{ loop.index }}" class="peer absolute w-0 h-0 opacity-0">
          </div>
        {% endfor %}
      </form>
      <form action="/search" class="flex items-center">
        <div class="flex items-center mt-4">
          <label for="q" class="sr-only">Поиск</label>
          <input 
            type="search" 
            id="q" name="q" 
            placeholder="Поиск..."
            class="border-clr-cta rounded-l-md py-1 px-3 peer"
          >
          <button type="submit" class="bg-clr-cta rounded-r-md p-1 border border-clr-cta ring-clr-cta transition-all duration-300 ease-in peer-focus:ring-2">
            {% partial 'common/icon' class="w-6 h-6 fill-clr-cta stroke-white" icon="search" %}
          </button>
        </div>
      </form>
    </div>
    <ul class="flex flex-wrap -mx-4">
      {% for item in range(1, 6) %}
      <li class="basis-full sm:basis-1/2 xl:basis-1/3 flex-grow flex-shrink-0 p-4">
        <article class="group relative flex flex-col">
          <div class="relative flex before:w-full before:pb-video before:animate-pulse before:bg-gray-300 before:rounded-t-md">
            <picture>
              <img src="https://via.placeholder.com/500x335" alt="" class="absolute inset-0 w-full h-full rounded-t-md">
            </picture>
            <div class="absolute inset-0 flex items-center justify-center rounded-t-md transition-colors duration-200 ease-in group-hover:bg-clr-overlay/60 z-10">
              {% partial 'common/icon' class="w-14 h-14 fill-transparent stroke-clr-cta stroke-1 opacity-0 transition-opacity duration-200 ease-in group-hover:opacity-80" icon="zoom" %}
            </div>
          </div>
          <div class="flex flex-wrap justify-between items-end bg-white rounded-b-md shadow-md shadow-gray-300 py-2 px-3 z-20 transition-colors duration-200 ease-in group-hover:bg-clr-cta">
            <div class="font-nunito font-normal text-clr-text text-base transition-colors duration-200 ease-in group-hover:text-white">
              <a href="#" class="font-semibold text-clr-cta text-xl underline underline-offset-2 transition-all duration-200 ease-in group-hover:text-white before:absolute before:inset-0 before:z-50">Nick</a>
              <p>18 лет, г. Ростов-на-Дону</p>
              <p><b>Исполняет: Chop Suey!</b></p>
            </div>
            <div class="inline-flex items-center font-nunito font-semibold text-lg text-clr-cta border-b border-clr-cta pb-1 transition-colors duration-200 ease-in group-hover:text-white group-hover:border-white">              
              {% partial 'common/icon' class="w-6 h-6 fill-transparent stroke-clr-cta stroke-2 mr-2 transition-all duration-200 ease-in group-hover:stroke-white" icon="like" %}
              <span class="border-b border-clr-cta pb-1 transition-colors duration-200 ease-in group-hover:border-white">84</span>
            </div>
          </div>
          {#
          <dialog class="fixed inset-0" open>
            <div>
              <p>18 лет, г. Ростов-на-Дону</p>
              <p><b>Исполняет: Chop Suey!</b></p>
            </div>
          </dialog>
          #}
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>