<section class="container py-25"
  data-aos="fade-up"
  data-aos-offset="500"
  data-aos-duration="500"
>
  <div 
    class="flex items-center justify-center w-16 h-16 rounded-full border-2 border-accent p-4"
    data-aos="fade-up"
    data-aos-offset="500"
    data-aos-duration="500"
  >
    {% partial 'common/icon' class="w-full h-full" icon="question" %}
  </div>
  <div 
    class="font-extrabold text-3xl text-dark leading-11 tracking-widest mt-5"
    data-aos="fade-left"
    data-aos-offset="500"
    data-aos-duration="500"
  >
    Why Choose Us?
  </div>

  <div class="-mr-container">
    <div class="carousel-why-us carousel js-carousel scrollbar w-full">
      <ul 
        class="carousel__wrapper js-carousel-wrapper py-16"
      >  
        {% for i in range(1, 6) %}
        <li class="carousel__slide js-carousel-slide">
          
          <div class="group w-68.75 h-115 bg-white border border-zinc-75 rounded-2.5 box-content overflow-hidden transition-color duration-700 hover:bg-accent">
            <div class="flex flex-col h-full overflow-auto pt-8 px-8 pb-6">
              <div class="flex items-center justify-center w-14 h-14 rounded-full bg-active bg-opacity-10 p-4 group-hover:bg-white group-hover:bg-opacity-10">
                {% partial 'common/icon' class="w-full h-full stroke-active stroke-2 fill-transparent" icon="teamwork" %}
              </div>
              <div class="font-sans font-extrabold text-xl text-dark leading-8 tracking-widest mt-5.5 after:line after:my-3 after:bg-stone group-hover:text-white group-hover:after:bg-white">
                Good Teamwork
              </div>
              <div class="font-sans font-normal text-base text-secondary-dark leading-6.5 tracking-widest group-hover:text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elementum eu praesent a sit mi nisl tincidunt consequat. At turpis facilisis semper neque
              </div>
              <a href="#" class="btn justify-between font-sans font-extrabold text-base text-dark leading-relaxed tracking-widest border border-stone mt-6 group-hover:text-white group-hover:bg-active">
                <span>Read More</span>
                {% partial 'common/icon' class="fill-transparent stroke-current stroke-2 w-6 h-6 -rotate-90" icon="arrow" %}
              </a>
            </div>
          </div>

        </li>
        {% endfor %}
      </ul>
      <div class="container flex items-center justify-end">
        <button type="button" class="btn bg-white text-active p-3 mr-1 hover:bg-active hover:text-white transition-colors duration-700 carousel-slide-prev">
          {% partial 'common/icon' class="fill-transparent stroke-current stroke-2 w-6 h-6 -rotate-90" icon="chevron" %}
        </button>
        <button type="button" class="btn bg-white text-active p-3 ml-1 hover:bg-active hover:text-white transition-colors duration-700 carousel-slide-next">
          {% partial 'common/icon' class="fill-transparent stroke-current stroke-2 w-6 h-6 rotate-90" icon="chevron" %}
        </button>
      </div>
    </div>
  </div>
</section>